* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  background: #eee;
  color: #777;
  display: flex;
  justify-content: center;
}

.containerss {
  margin: auto;
  max-width: 30%;
  max-height: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 95%;
  height: 85%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-container {
  position: relative;
  /* justify-content: start; */
}

.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 8px;
}

.title,
.price {
  color: #0a0b0c;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px 12px 6px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
  text-align: left; /* Align content after hostname to the left */
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}
.info-left
{
  text-align: left;
}
@media only screen and (max-width: 480px) {
    .containerss{
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        flex-wrap: nowrap;
        padding: 0;
        max-width: 85%;
        /* margin: 2%; */
        margin-left: 7%;
        /* width: 80%; */
    }
    .item-container {
      width: 100%;
      height: 100%;
      margin: 12px;
    }
  
    .event-info {
      padding: 8px;
    }
  
    .info,
    .title,
    .price {
      font-size: 1em;
    }
  
    .separator {
      width: 15%;
    }
  
    .additional-info {
      padding: 16px;
    }
  
    .action {
      width: 80%;
      padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .containerss{
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        flex-wrap: nowrap;
        padding: 0;
        max-width: 85%;
        /* margin: 2%; */
        margin-left: 7%;
        /* width: 80%; */
    }
    .item-container {
      width: 100%;
      height: 100%;
      margin: 12px;
    }
  
    .event-info {
      padding: 8px;
    }
  
    .info,
    .title,
    .price {
      font-size: 1em;
    }
  
    .separator {
      width: 15%;
    }
  
    .additional-info {
      padding: 16px;
    }
  
    .action {
      width: 80%;
      padding: 10px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .containerss{
      max-width: 50%;
      /* border: 2px solid yellow; */
    }
    .item-container {
      width: 90%;
      height: 95%;
      margin: 12px;
    }
  
    .event-info {
      padding: 8px;
    }
  
    .info,
    .title,
    .price {
      font-size: 1em;
    }
  
    .separator {
      width: 15%;
    }
  
    .additional-info {
      padding: 16px;
    }
  
    .action {
      width: 70%;
      padding: 10px;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1024px){
    .item-container {
      width: 85%;
      margin: 12px;
    }
  
    .event-info {
      padding: 12px;
    }
  
    .info,
    .title,
    .price {
      font-size: 1.2em;
    }
  
    .separator {
      width: 10%;
    }
  
    .additional-info {
      padding: 20px;
    }
  
    .action {
      width: 60%;
      padding: 12px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px){
    .item-container {
      width: 88%;
      margin: 12px;
    }
  
    .event-info {
      padding: 16px;
    }
  
    .info,
    .title,
    .price {
      font-size: 1.3em;
    }
  
    .separator {
      width: 8%;
    }
  
    .additional-info {
      padding: 24px;
    }
  
    .action {
      width: 50%;
      padding: 14px;
    }
  }

  