.login-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.login_page {
  border-radius: 5px;
  box-shadow: 8px 17px 60px 13px rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 600px;
  padding: 40px 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  align-items: center;
}

.login_page .fas {
  color: rgb(51, 43, 43);
  font-size: 30px;
  margin-bottom: 5px;
}

.login_page .form {
  margin-top: 30px;
  padding: 0 20px;
}

.login_page .welcome {
  color: #3b3663;
  display: block;
  font-size: 28px;
}

.login_page span {
  color: #696687;
  font-size: 18px;
  opacity: .8;
}

.register .form .form-row,
.login_page .form .form-row {
  position: relative;
  text-align: left;
}

.login_page .form .form-row.bottom {
  display: flex;
  justify-content: space-between;
}

.login_page .form .form-row {
  position: relative;
  text-align: left;
}

.login_page .form .form-label {
  color: #696687;
  font-size: 17px;
  opacity: .7;
}

.login_page .form-text {
  color: #696687;
  font-size: 18px;
  border: 0;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 40px 0 0px;
  width: 100%;
  background: white no-repeat;
  transition: 100ms all linear 0s;
  background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.login_page .form .form-row .fas {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 30px;
  color: #696687;
  opacity: .3;
}

.login_page .form .form-row .form-check input[type="checkbox"]+label:before {
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  color: transparent;
  content: "\2714";
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  transition: 0.2s;
  vertical-align: inherit;
  width: 18px;
  text-align: center;
  line-height: 20px;
}

.login_page .form .form-row .form-check input[type="checkbox"] {
  display: none;
}

.login_page .form .form-row .form-check input[type="checkbox"]+label {
  cursor: pointer;
  display: block;
  color: #696687;
  font-size: 18px;
  opacity: .7;
}

.login_page .form .form-row.bottom .forgot {
  color: #4d61fc;
  font-size: 18px;
  opacity: .7;
}

.login_page .form .form-label {
  color: #696687;
  font-size: 18px;
  opacity: .7;
}

.login_page .form .form-row.button-login {
  margin-top: 30px;
}

.button {
  align-items: center;
  justify-content: center;
  background: #4d61fc;
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 15px 45px;
  transition: 0.2s;
  font-weight: 600;
}

.form button:hover {
  background: rgb(88, 56, 250);
}

.logout-button:hover {
  background-color: rgb(88, 56, 250);
}

.logout-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.logout_page .logout-button {

  display: flex;
  justify-content: center;
  align-items: center;
  background: #3B3847;
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 15px 45px;
  transition: 0.2s;
  font-weight: 600;
}

.logout_page {
  border-radius: 5px;
  box-shadow: 8px 17px 60px 13px rgba(0, 0, 0, 0.1);
  /* margin-top: 40px;
  margin-bottom: 40px; */
  height: auto;
  max-width: 400px;
  padding: 40px 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: inline;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 25px 45px;
  transition: 0.2s;
  font-weight: 600;
}

.confirmation {
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}